.App {
  text-align: center;
}

br {
  margin: 1px 0;
}

.mainContainer {
  background-color: rgb(255, 255, 255);
  position: relative;
}

.mainContainer input {
  width: 50%;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 15px;
}

.mainContainer p {
  display: inline-block;
  margin-right: 10px;
}
.mainContainer .datePickerContainer {
  display: inline-block;
  width: 40%;
  position: absolute;
  right: 20%;
  margin-top: -20px;
}

.mainLogo {
  width: 100%;
  max-height: 150px;
}

/* ***************** Buttons ***************** */
.addEventButton {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.deleteButton {
  position: relative;
  left: 50px;
  margin-right: 5px;
}

.closeModalButton {
  position: relative;
  left: 150px;
  margin-top: 10px;
}

/* ***************** MODAL INFORMATION ***************** */
.modalBasic {
  background-color: rgb(255, 255, 255);
  border: solid 2px black;
  position: fixed;
  top: 40%;
  left: 40%;
  width: 350px;
  padding: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 0, 255, 0.6);
  z-index: 9999;
}

/* ***************** CALENDAR COLOR INFORMATION ***************** */
.rbc-day-bg {
  background-color: #ffffff;
}

.rbc-day-bg.rbc-today {
  background-color: rgb(214, 239, 255);
  outline: 2px solid #000000;
  outline-offset: -2px;
}

/* ***************** DROPDOWN COLOR SELECT ***************** */

.red {
  background-color: rgb(255, 63, 172);
  color: rgb(255, 255, 255);
}
.green {
  background-color: rgb(0, 129, 0);
}
.blue {
  background-color: rgb(172, 236, 253);
}
.yellow {
  background-color: rgb(255, 255, 0);
}
.orange {
  background-color: rgb(255, 166, 0);
}
.purple {
  background-color: rgb(132, 0, 132);
}

.colorDropdown {
  position: relative;
  left: 125px;
  margin-right: 5px;
}